node-RED_Flow_BicycleStand.json
[{"id":"8991c3c4.ef05d8","type":"mqtt in","z":"6db4f742.35aa3","name":"subscription to topic outBike","topic":"outBike","qos":"2","datatype":"buffer","broker":"b58e1a0e.5f10f","x":320,"y":340,"wires":[["d84f8e0.319e8f"]]},{"id":"75215a2c.52ab2c","type":"debug","z":"6db4f742.35aa3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1070,"y":280,"wires":[]},{"id":"d542424.018574","type":"ui_audio","z":"6db4f742.35aa3","name":"","group":"4723254.bf672dc","voice":"en-US","always":"","x":1080,"y":340,"wires":[]},{"id":"bbe226ed.9d6bf","type":"ui_button","z":"6db4f742.35aa3","name":"","group":"4723254.bf672dc","order":1,"width":0,"height":0,"passthru":true,"label":"","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Sorry bicycle stand 1 is occupied, please find another stand","payloadType":"str","topic":"outBike","x":860,"y":300,"wires":[["75215a2c.52ab2c","b2abb623.597fc","d542424.018574"]]},{"id":"9e4eac52.5d315","type":"ui_button","z":"6db4f742.35aa3","name":"","group":"4723254.bf672dc","order":1,"width":0,"height":0,"passthru":true,"label":"","tooltip":"","color":"","bgcolor":"","icon":"","payload":"You got luck, bicycle stand 1 is free, hurry up","payloadType":"str","topic":"outBike","x":850,"y":380,"wires":[["2a43057f.59bb4a","1876a4e7.38d7d3","d542424.018574"]]},{"id":"2a43057f.59bb4a","type":"debug","z":"6db4f742.35aa3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":420,"wires":[]},{"id":"f821acbe.574da","type":"switch","z":"6db4f742.35aa3","name":"Free or occupied","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":true,"outputs":2,"x":690,"y":340,"wires":[["bbe226ed.9d6bf"],["9e4eac52.5d315"]]},{"id":"d84f8e0.319e8f","type":"rbe","z":"6db4f742.35aa3","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":530,"y":340,"wires":[["f821acbe.574da"]]},{"id":"b2abb623.597fc","type":"ui_text","z":"6db4f742.35aa3","group":"4723254.bf672dc","order":3,"width":0,"height":0,"name":"","label":"Status:","format":"{{msg.payload}}","layout":"row-spread","x":1090,"y":220,"wires":[]},{"id":"1876a4e7.38d7d3","type":"ui_text","z":"6db4f742.35aa3","group":"4723254.bf672dc","order":3,"width":0,"height":0,"name":"","label":"Status:","format":"{{msg.payload}}","layout":"row-spread","x":1100,"y":500,"wires":[]},{"id":"b58e1a0e.5f10f","type":"mqtt-broker","z":"","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"1245742075323253636","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4723254.bf672dc","type":"ui_group","z":"6db4f742.35aa3","name":"Bicycle Stand 1","tab":"53eac183.bf8488","order":1,"disp":true,"width":"6","collapse":false},{"id":"53eac183.bf8488","type":"ui_tab","z":"","name":"Bicycle Storage","icon":"dashboard","order":3,"disabled":false,"hidden":false}]